$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-collaboration: "\e905";
$icon-user: "\e906";
$icon-email: "\e900";
$icon-phone: "\e903";
$icon-industry_expertise_1: "\e901";
$icon-industry_expertise_2: "\e902";
$icon-expansive_capabilities: "\e904";

