<header id="home" class="header home-section">
    <div class="overlay"></div>
    <div class="container">
        <h1 class="header-title">Enrich Decision Making</h1>
        <p class="header-brief">Instant access to critical information, Insights on best based procurement practices,
            and Robust reports and KPIs for data-driven decisions.</p>
        <button class="header-contact">schedule a demo</button>
    </div>
    <div class="img-holder">
        <img class="img" src="../../../../assets/images/home/header/header_img.png" title="Vega Product"
            alt="Vega Product">
    </div>
</header>