@import "../../../../scss/abstracts/variables";
@import "../../../../scss/abstracts/functions";
@import "../../../../scss/base/fonts";

.sample-insights {
    background-color: $dark-blue-1;
    .insight-box:not(:last-of-type) {
        margin-bottom: toRem(50);
    }
    .insight-box {
        .left-side {
            .holder {
                display: flex;
                flex-direction: column;
                justify-content: center;
                height: 100%;
                width: 95%;
                .title {
                    color: $white;
                    font-family: $font-m;
                    font-size: toRem(20);
                    line-height: 120%;
                    letter-spacing: -0.736px;
                }
                .img {
                    max-width: 100%;
                }
                .content {
                    color: $grey-1;
                    font-size: toRem(14);
                    line-height: toRem(30);
                    ::ng-deep {
                        .special {
                            color: $secondaryColor-2;
                            font-family: $font-m;
                        }
                    }
                }
            }
        }
        .right-side {
            .img {
                width: 100%;
            }
        }
    }
}

@media (min-width: 992px) {
    .sample-insights {
        position: relative;
        z-index: 1;
        .overlay,
        .overlay-2 {
            position: absolute;
            z-index: 2;
            height: 600px;
            width: 300px;
            background-image: url("../../../../assets/images/home/overlay.png");
            background-repeat: no-repeat;
            background-size: contain;
            top: -8%;
            left: 0;
        }
        .overlay-2 {
            top: auto;
            left: auto;
            right: 0;
            bottom: 5%;
            transform: scale(-1);
            width: 150px;
        }
        .insight-box:not(:last-of-type) {
            margin-bottom: toRem(80);
        }
        .insight-box {
            position: relative;
            z-index: 3;
            .left-side {
                .holder {
                    width: 90%;
                    .title {
                        font-size: toRem(32);
                        line-height: 150%;
                    }
                    .content {
                        font-size: toRem(16);
                        line-height: toRem(40);
                    }
                }
            }
        }
    }
}
