@import "../../../../scss/icomoon/style.scss";
@import "../../../../scss/abstracts/variables";
@import "../../../../scss/abstracts/functions";
@import "../../../../scss/base/fonts";

.our-experts {
    .expert-card {
        .holder {
            padding: toRem(25) toRem(35);
            background-color: $dark-blue-1;
            border-radius: toRem(8);
            height: 100%;
            i {
                color: $secondaryColor-1;
                font-size: toRem(35);
                margin-bottom: toRem(30);
                display: block;
            }
            .title {
                color: $white;
                font-family: $font-m;
                font-size: toRem(20);
                line-height: toRem(32);
                text-transform: capitalize;
                margin-bottom: toRem(18);
            }
            .content {
                color: $grey-1;
                font-size: toRem(14);
                line-height: toRem(25);
                letter-spacing: -0.32px;
            }
        }
        &:hover {
            transition: all 0.3s;
            transform: translateY(-10px);
        }
    }
}

@media (min-width: 992px) {
    .our-experts {
        position: relative;
        z-index: 1;
        .overlay-2 {
            position: absolute;
            z-index: 2;
            height: 600px;
            background-image: url("../../../../assets/images/home/overlay.png");
            background-repeat: no-repeat;
            background-size: contain;
            right: 0;
            bottom: 5%;
            transform: scale(-1);
            width: 150px;
        }
        .expert-card {
            .holder {
                padding: toRem(35) toRem(45);
                i {
                    font-size: toRem(48);
                    margin-bottom: toRem(48);
                }
                .title {
                    font-size: toRem(24);
                    line-height: toRem(32);
                    margin-bottom: toRem(24);
                }
                .content {
                    font-size: toRem(16);
                    line-height: toRem(30);
                }
            }
        }
    }
}
