@import "../../../../scss/abstracts/variables";
@import "../../../../scss/abstracts/functions";
@import "../../../../scss/base/fonts";

.navbar {
    background-color: $dark-blue-1;
    .navbar-brand {
        img {
            width: toRem(140);
        }
    }
    .navbar-toggler {
        box-shadow: none;
        border-color: $white;
        opacity: 0.5;
        .navbar-toggler-icon {
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, .8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
        }
    }
    .navbar-collapse {
        justify-content: center;
        .navbar-nav {
            margin: 1rem 0;
            .nav-item {
                margin: toRem(15) toRem(26);
                text-align: center;
                .nav-link {
                    font-family: $font-r;
                    color: $white;
                    opacity: 0.7;
                    font-size: toRem(16);
                    padding: 0;
                    transition: all 0.2s;
                    cursor: pointer;
                    &.active,
                    &:hover {
                        opacity: 1;
                        color: $secondaryColor-1;
                    }
                }
                .contact {
                    padding: 1rem 3rem;
                }
            }
        }
    }
    .contact {
        color: $white;
        font-family: $font-m;
        background-color: $primaryColor;
        border-radius: toRem(8);
        font-size: toRem(14);
        padding: toRem(16);
        line-height: toRem(16);
        border: none;
        outline: none;
        text-transform: uppercase;
        display: inline-block;
        position: relative;
        z-index: 1;
        overflow: if(false, unset, hidden);
        transition: 4s;
        &:before,
        &:after {
            content: "";
            position: absolute;
            top: -1.5em;
            z-index: -1;
            width: 200%;
            aspect-ratio: 1;
            border: if(false, inherit, none);
            border-radius: 40%;
            background-color: rgba(#cb6aeb, 0.25);
            transition: 4s;
        }
        &:before {
            left: -80%;
            transform: translate3d(0, 5em, 0) rotate(-340deg);
        }
        &:after {
            right: -80%;
            transform: translate3d(0, 5em, 0) rotate(390deg);
        }
        &:hover {
            color: $white;
            &:before,
            &:after {
                transform: none;
                background-color: rgba(#cb6aeb, 0.75);
            }
        }
    }
}

@media (min-width: 992px) {
    .navbar {
        background-color: transparent;
        .navbar-brand {
            img {
                width: toRem(160);
            }
        }
        .navbar-collapse {
            justify-content: center;
            .navbar-nav {
                margin: 0;
                .nav-item {
                    margin: 0 toRem(16);
                    text-align: initial;
                    .nav-link {
                        font-size: toRem(18);
                    }
                }
            }
        }
    }
}

@media (min-width: 1200px) {
    .navbar {
        .navbar-collapse {
            .navbar-nav {
                .nav-item {
                    margin: 0 toRem(26);
                }
            }
        }
    }
}
