// Colors
$primaryColor: #9b46b7;
$secondaryColor-1: #48eaeb;
$secondaryColor-2: #07ead3;
$dark-blue-1: #182237;
$dark-blue-2: #151c2c;
$dark-blue-3: #161d34;
$grey-1: #9db4ba;
$black: #000;
$white: #fff;
$error: #e42a2a;
$success: #3ac977;
