<footer>
    <img class="main-logo" src="../../../../assets/images/footer/vega_footer_logo.svg" title="Vega" alt="Vega Logo">
    <nav>
        <ul>
            <li (click)="scrollToSection('home')">Home</li>
            <li (click)="scrollToSection('what-we-offer')">What we offer</li>
            <li (click)="scrollToSection('sample-insights')">Sample insights</li>
            <li (click)="scrollToSection('our-experts')">OUR EXPERTS</li>
            <li (click)="scrollToSection('contact-us')">Contact us</li>
        </ul>
    </nav>
    <span class="copy-rights">Copyrights - 2023 All Rights Reserved</span>
</footer>