/* You can add global styles to this file, and also import other style files */
@import "./abstracts/variables";
@import "./abstracts/functions";
@import "./base/fonts";
@import "./base/custom";

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: $dark-blue-2;
  scroll-behavior: smooth;
}
body {
  font-family: $font-r, sans-serif;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: $white !important;
  -webkit-box-shadow: 0 0 0px 100px transparent inset !important;
  transition: background-color 5000s ease-in-out 0s !important;
}
